.nav-btn{
  border-radius: 100%;
  border: 2px solid black;
  height: 80px;
  width: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nav-btn:hover{
  background-color: black;
}

.nav-btn p{
  color: black;
}

.nav-btn:hover p{
  color: white;
}

nav a{
  text-decoration: none;
  margin: 10px
}

nav{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.content{
  max-width: calc(min(500px, 95vw));
  margin-left: auto;
  margin-right: auto;
}
