.article img{
  max-width: 100%;
}

.content a{
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted black;
}

.content a:hover{
  color: white;
  text-decoration: none;
  background-color: black;
  border-bottom: 1px dotted black;
}
